nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 2rem;
  z-index: 1;
  width: 100%;
  border-bottom: solid 1px var(--primary-color);
  opacity: 0.9;
  margin-bottom: 1rem;
  background-color: black;
}

nav ul {
  display: flex;
}

nav a {
  color: #fff;
  padding: 0.45rem;
  margin: 0 0.25rem;
}

nav a:hover {
  color: var(--light-color);
}